@charset "utf-8";

/* ---------------------------------------------------------------------*/
/*  Basic styles                                                        */
/* ---------------------------------------------------------------------*/

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    sans-serif;
  font-weight: 500;
  color: #e6e6e6;
  background-color: #f9f9f9;
}

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 8px;
}

/* https://websemantics.uk/tools/responsive-font-calculator/ */

p {
  font-size: 14px;
}

@media (min-width: 480px) {
  p {
    font-size: calc(14px + ((1vw - 4.8px) * 0.1389));
  }
}

@media (min-width: 1920px) {
  p {
    font-size: 16px;
  }
}

h1,
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ddd;
}

/* ---------------------------------------------------------------------*/
/*  page-top                                                            */
/* ---------------------------------------------------------------------*/

.page-top {
  background-image: url("../images/wani_bg.png");
  background-color: #22222a;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vw;
}

#particles-js {
  height: 80vw;
}

.page-top-text {
  padding-top: 30vw;
  padding-left: 5vw;
}

@media (min-width: 576px) {
  .page-top {
    height: 50vw;
  }
  #particles-js {
    height: 50vw;
  }
  .page-top-text {
    padding-top: 20vw;
    padding-left: 10vw;
  }
}

.page-top-text h1 {
  font-size: 15px;
  letter-spacing: 1.8px;
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .page-top-text h1 {
    font-size: calc(15px + ((1vw - 4.8px) * 0.3472));
  }
}

@media (min-width: 1920px) {
  .page-top-text h1 {
    font-size: 20px;
  }
}

/* ---------------------------------------------------------------------*/
/*  page-about                                                          */
/* ---------------------------------------------------------------------*/

.page-about {
  background-color: #1e1e1e;
  color: #ccc;
}

.page-about .spacer {
  height: 25px;
}

/* ---------------------------------------------------------------------*/
/*  page-member                                                         */
/* ---------------------------------------------------------------------*/

.page-member {
  background-color: #1e1e1e;
  color: #ccc;
}

.page-member p {
  font-size: 18px;
}

.page-member-img {
  max-width: 160px;
}

.img-round {
  border-radius: 50%;
}

/* ---------------------------------------------------------------------*/
/*  footer                                                              */
/* ---------------------------------------------------------------------*/

footer {
  background-color: #1e1e1e;
  color: #ccc;
}

/* ---------------------------------------------------------------------*/
/*  particles-js                                                        */
/* ---------------------------------------------------------------------*/

#particles-js {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 0;
}

/* ---------------------------------------------------------------------*/
/*  text glitch effect                                                  */
/* ---------------------------------------------------------------------*/

.glitch {
  color: white;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  letter-spacing: 4px;
}

@media (min-width: 480px) {
  .glitch {
    font-size: calc(35px + ((1vw - 4.8px) * 1.7361));
  }
}

@media (min-width: 1920px) {
  .glitch {
    font-size: 60px;
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #fafafa;
  background: #22222a;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #fafafa;
  background: #22222a;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(77px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(65px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(82px, 9999px, 82px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 35px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(94px, 9999px, 64px, 0);
  }
  35% {
    clip: rect(69px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 35px, 0);
  }
  50% {
    clip: rect(82px, 9999px, 26px, 0);
  }
  55% {
    clip: rect(7px, 9999px, 92px, 0);
  }
  60% {
    clip: rect(54px, 9999px, 30px, 0);
  }
  65% {
    clip: rect(86px, 9999px, 90px, 0);
  }
  70% {
    clip: rect(38px, 9999px, 65px, 0);
  }
  75% {
    clip: rect(41px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 12px, 0);
  }
  90% {
    clip: rect(50px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(14px, 9999px, 57px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(18px, 9999px, 13px, 0);
  }
  5% {
    clip: rect(74px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 65px, 0);
  }
  15% {
    clip: rect(64px, 9999px, 66px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 6px, 0);
  }
  25% {
    clip: rect(40px, 9999px, 49px, 0);
  }
  30% {
    clip: rect(71px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(92px, 9999px, 57px, 0);
  }
  45% {
    clip: rect(4px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(4px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 25px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 44px, 0);
  }
  65% {
    clip: rect(31px, 9999px, 99px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(57px, 9999px, 97px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 15px, 0);
  }
  85% {
    clip: rect(84px, 9999px, 34px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 59px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 87px, 0);
  }
}
